/* Paleta de colores */
.dark-primary-color    { background: #D32F2F; }
.default-primary-color { background: #F44336; }
.light-primary-color   { background: #FFCDD2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #9E9E9E; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }



h1{
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

a{
  text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

h3{
  text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

label{
  text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

h2{
  text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

h4{
  text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
h5{
  text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

p{
  text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

td{
  text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

tr{
  text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
body {
  background: #dee0e2;
  margin:0;
	padding:0;
}
footer {
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: -20px;
   /* negative value of footer height */
    clear: both;
    padding: 2px 16px;
}

.body-content{
  padding: 10px;
  padding-bottom: 20px;
}
/* START barra de navegacion */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F44336;
}

.navbar li {
    float: right;
    width: auto;
    height: auto;
    display: block;

}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #9E9E9E;
}

.navbar-logo {
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
  font-weight: bold;
  color:white;
  font-size: 30px;
  color:white;
}

@media screen and (max-width: 600px) {
  .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

  .navbar li {
      float: right;
      width: 100%;
      height: auto;
      display: block;

  }

  .navbar li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  .navbar li a:hover {
      background-color: #111;
  }
  .navbar-logo {
    position: relative;
    margin: 10px 15px 15px 10px;
    font-weight: bold;
    color:white;
    font-size: 30px;
    color:white;
    float:right;
    width: 100%;
    height: auto;
    display: block;
  }
  .navbar ul li a:hover{
    background-color: #111;
  }
}

/* END barra de navegacion */


/* imagen circular */
.circle-img {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.circle-img img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}



.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 2px 16px;
  background: white;
}
.center {
    display: block;
    margin: auto;
    width: 40%;
}

/* images */
/* xs */
img {
  width: 100px;
  height: 700px;
  border-radius: 5px 5px 0 0;
}
/* sm */
@media (min-width: 768px) {
  img {
      width: 150px;
  }
}
/* md */
@media (min-width: 992px) {
  img {
      width: 200px;
  }
}
/* lg */
@media (min-width: 1200px) {
  img {
      width: 250px;
  }
}


/* START own grid system */
.container {
  padding: 2px 16px;
}

.grid-container{
  width: 100%;
  max-width: 100%;
}

.grid-container *{
  box-sizing: border-box;
}

/*-- Columns --*/
/*
Las columna es la parte mas importante del grid.
*/

.col-1{ width: 16.66%;}
.col-2{ width: 33.33%; }
.col-3{ width: 50%; }
.col-4{ width: 66.664%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;}

/* cada atributo class que
tenga 'col-' sera afectado
por lo que tenga aqui */
[class*='col-1'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  padding: 12px;
}

[class*='col-2'] {
  float: left;
  min-height: 1px;
  width: 33.32%;
  padding: 12px;
}
[class*='col-3'] {
  float: left;
  min-height: 1px;
  width: 49.98%;
  padding: 12px;
}
[class*='col-4'] {
  float: left;
  min-height: 1px;
  width: 66.64%;
  padding: 12px;
}
[class*='col-5'] {
  float: left;
  min-height: 1px;
  width: 83.3%;
  padding: 12px;
}
[class*='col-6'] {
  float: left;
  min-height: 1px;
  width: 99.96%;
  padding: 12px;
}

[class*='col-'] > p {
   background-color: #FFC2C2;
   padding: 0;
   margin: 0;
   text-align: center;
   color: white;
}

/*-- rows-- */
/*
El proposito de estas filas es mantener las
columnas dentro. Para eso utilizamos el clearfix
hack asegurandonos de eso

*/
.row:before,
.row:after {
  content:"";
  display: table ;
  clear:both;
}

/* practicar */
.outline, .outline *{
  outline: 1px solid #F6A1A1;
}


/*GRID RESPONSIVE */

@media all and (max-width:800px){
  .col-1{ width: 33.33%;  }
  .col-2{ width: 50%;     }
  .col-3{ width: 83.33%;  }
  .col-4{ width: 100%;    }
  .col-5{ width: 100%;    }
  .col-6{ width: 100%;    }

  .row .col-2:last-of-type{
      width: 100%;
  }

  .row .col-5 ~ .col-1{
      width: 100%;
  }
}

@media all and (max-width:650px){
  .col-1{ width: 50%;     }
  .col-2{ width: 100%;    }
  .col-3{ width: 100%;    }
  .col-4{ width: 100%;    }
  .col-5{ width: 100%;    }
  .col-6{ width: 100%;    }
}

    /* END own grid system */



    /* movie cards */

.movie-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 20px 20px 0 0;
  width: 100%;
  background: white;

}
.movie-img {
    float: left;
}

.movie-img img{
    display: block;
    height: 220;
    width: 210;
}

.movie-content {
  margin-left: 210px;
}

.movie-title {
  font-weight: bold;
  font-size: 200%;
  padding:9px;
  background: white;
}

.clearfix {
  overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
